<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoPackageScriptDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0CD6D5CA756E089F88EA6AC5AD1D66D89CB2F505</string>
				<key>dateExpires</key>
				<string>2019/1/22</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5ZAJ7C6M9A.com.bonc.vbap</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5ZAJ7C6M9A</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5ZAJ7C6M9A.com.bonc.vbap</string>
				</array>
			</dict>
			<key>name</key>
			<string>AutoPackageScriptDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>771814cb-edab-4e32-a048-e04650a0a118</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.bonc.vbap</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5ZAJ7C6M9A</string>
				<key>name</key>
				<string>Beijing Dongfang Guoxin Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
